[submodule "build-mac/External/Mantle"]
	path = build-mac/External/Mantle
	url = https://github.com/github/Mantle.git
[submodule "build-mac/External/AFNetworking"]
	path = build-mac/External/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "build-mac/Configuration"]
	path = build-mac/Configuration
	url = https://github.com/jspahrsummers/xcconfigs.git
